## Deliverable 3. Create a Travel Itinerary Map.

In [43]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Samarai,PG,79.95,overcast clouds,-10.6167,150.6667,Nuli Sapi
1,4,Kavaratti,IN,81.99,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
2,6,Traverse City,US,75.94,clear sky,44.7631,-85.6206,Bayshore Resort
3,7,Wahiawa,US,88.12,light rain,21.5028,-158.0236,Aloha Wahiawa
4,11,Hilo,US,80.33,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [85]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [86]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
vacation_df.loc[vacation_df['Country'] == 'JP'].sort_values('Lat')

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
142,456,Naze,JP,81.52,overcast clouds,28.3667,129.4833,???????????
27,99,Kushima,JP,86.04,overcast clouds,31.4583,131.2333,Hanaoka
15,70,Fukue,JP,79.16,broken clouds,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
120,390,Hirado,JP,85.35,overcast clouds,33.3597,129.5531,Samson Hotel
76,279,Katsuura,JP,86.14,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
137,438,Yokosuka,JP,87.37,clear sky,35.2836,139.6672,Mercure Yokosuka
55,194,Hasaki,JP,88.29,few clouds,35.7333,140.8333,Hotel Sunrise Choshi
118,386,Nagareyama,JP,89.11,clear sky,35.8563,139.9027,Toyoko INN Saitama-Misato Ekimae
49,172,Wajima,JP,86.68,scattered clouds,37.4000,136.9000,Wajiima Onsen Yashio
82,293,Namie,JP,85.71,clear sky,37.4833,141.0000,????????
56,196,Yamada,JP,81.14,few clouds,39.4667,141.9500,Iroha-ya Inn
13,63,Iwanai,JP,85.93,scattered clouds,42.9744,140.5089,?????????
134,421,Nemuro,JP,81.03,overcast clouds,43.3236,145.5750,Hotel Nemuro Kaiyoutei

In [41]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Katsuura']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Katsuura']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Yokosuka']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Hasaki']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Nagareyama']

In [46]:
vacation_start.to_numpy()

AttributeError: 'DataFrame' object has no attribute 'to_numpy'

couldnt figure out how to fix this to_numpy error so I used standard indexing

In [67]:
start = (round(vacation_start.iloc[0]['Lat'],0), vacation_start.iloc[0]['Lng'])
start

(35.0, 140.30000000000001)

In [80]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.iloc[0]['Lat'], vacation_start.iloc[0]['Lng'])
end = (vacation_start.iloc[0]['Lat'], vacation_start.iloc[0]['Lng'])
stop1 = (vacation_stop1.iloc[0]['Lat'], vacation_stop1.iloc[0]['Lng'])
stop2 = (vacation_stop2.iloc[0]['Lat'], vacation_stop2.iloc[0]['Lng'])
stop3 = (vacation_stop3.iloc[0]['Lat'], vacation_stop3.iloc[0]['Lng'])

In [83]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop3, stop1, stop2],
        travel_mode='DRIVING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,279,Katsuura,JP,86.14,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
1,438,Yokosuka,JP,87.37,clear sky,35.2836,139.6672,Mercure Yokosuka
2,194,Hasaki,JP,88.29,few clouds,35.7333,140.8333,Hotel Sunrise Choshi
3,386,Nagareyama,JP,89.11,clear sky,35.8563,139.9027,Toyoko INN Saitama-Misato Ekimae

In [74]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [78]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))